{% extends "bootstrap_layout.html" %}
{% set active_page = "user_query" %}

{% block content %}
    <h2>Want a List of Songs to listen to on Spotify?</h2>

    <p>Use the form below to get some song suggestions!</p>

    <form action="/suggest" method="POST">

        <br>

        <!-- put in a form to get user -->
        <br>
        <label>Song Name</label>
        
        <br>

        <!-- TODO: Instead of hard-coding these drop-down menu options, dynamically populate them based on user records from the database -->
        <label>Artist</label>
        <input type="text" name="artist_name" placeholder="who performs it?" value="">
        <br>

        <button>Get my Suggestions!</button>
    </form>
{% endblock %}
</body>
</html>